/*
 * TD Ameritrade API
 *
 * TD Ameritrade API
 *
 * API version: 3.0.1
 * Contact: austin.millan@gmail.com
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// OptionChainsApiService OptionChainsApi service
type OptionChainsApiService service

type ApiGetOptionChainsRequest struct {
	ctx _context.Context
	ApiService *OptionChainsApiService
	apikey *string
	symbol *string
	contractType *PutOrCall
	strikeCount *string
	includeQuotes *string
	strategy *Strategy
}

func (r ApiGetOptionChainsRequest) Apikey(apikey string) ApiGetOptionChainsRequest {
	r.apikey = &apikey
	return r
}
func (r ApiGetOptionChainsRequest) Symbol(symbol string) ApiGetOptionChainsRequest {
	r.symbol = &symbol
	return r
}
func (r ApiGetOptionChainsRequest) ContractType(contractType PutOrCall) ApiGetOptionChainsRequest {
	r.contractType = &contractType
	return r
}
func (r ApiGetOptionChainsRequest) StrikeCount(strikeCount string) ApiGetOptionChainsRequest {
	r.strikeCount = &strikeCount
	return r
}
func (r ApiGetOptionChainsRequest) IncludeQuotes(includeQuotes string) ApiGetOptionChainsRequest {
	r.includeQuotes = &includeQuotes
	return r
}
func (r ApiGetOptionChainsRequest) Strategy(strategy Strategy) ApiGetOptionChainsRequest {
	r.strategy = &strategy
	return r
}

func (r ApiGetOptionChainsRequest) Execute() ([]map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.GetOptionChainsExecute(r)
}

/*
 * GetOptionChains Get Option Chains for optionable symbols
 * Get option chain for an optionable Symbol
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetOptionChainsRequest
 */
func (a *OptionChainsApiService) GetOptionChains(ctx _context.Context) ApiGetOptionChainsRequest {
	return ApiGetOptionChainsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return []map[string]interface{}
 */
func (a *OptionChainsApiService) GetOptionChainsExecute(r ApiGetOptionChainsRequest) ([]map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  []map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OptionChainsApiService.GetOptionChains")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketdata/chains"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.apikey == nil {
		return localVarReturnValue, nil, reportError("apikey is required and must be specified")
	}
	if r.symbol == nil {
		return localVarReturnValue, nil, reportError("symbol is required and must be specified")
	}
	if r.contractType == nil {
		return localVarReturnValue, nil, reportError("contractType is required and must be specified")
	}
	if r.strikeCount == nil {
		return localVarReturnValue, nil, reportError("strikeCount is required and must be specified")
	}
	if r.includeQuotes == nil {
		return localVarReturnValue, nil, reportError("includeQuotes is required and must be specified")
	}
	if r.strategy == nil {
		return localVarReturnValue, nil, reportError("strategy is required and must be specified")
	}

	localVarQueryParams.Add("apikey", parameterToString(*r.apikey, ""))
	localVarQueryParams.Add("symbol", parameterToString(*r.symbol, ""))
	localVarQueryParams.Add("contractType", parameterToString(*r.contractType, ""))
	localVarQueryParams.Add("strikeCount", parameterToString(*r.strikeCount, ""))
	localVarQueryParams.Add("includeQuotes", parameterToString(*r.includeQuotes, ""))
	localVarQueryParams.Add("strategy", parameterToString(*r.strategy, ""))
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
