openapi: 3.0.0
info:
  contact:
    email: austin.millan@gmail.com
  description: TD Ameritrade API
  termsOfService: https://developer.tdameritrade.com/legal
  title: TD Ameritrade API
  version: 3.0.1
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: https://api.tdameritrade.com/v2
- url: http://api.tdameritrade.com/v2
paths:
  /accounts/{accountId}/orders/{orderId}:
    delete:
      description: 'Cancel a specific order for a specific account. '
      operationId: cancelOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message if the order was not found.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Cancel Order
      tags:
      - Accounts and Trading
    get:
      description: Get a specific order for a specific account.
      operationId: getOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: A Order object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Order
      tags:
      - Accounts and Trading
    put:
      description: Replace an existing order for an account. The existing order will
        be replaced by the new order. Once replaced, the old order will be canceled
        and a new order will be created.
      operationId: replaceOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Order'
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message if the order was not found.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Replace Order
      tags:
      - Accounts and Trading
  /accounts/{accountId}/orders:
    get:
      description: Orders for a specific account.
      operationId: getOrdersByPath
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: The maximum number of orders to retrieve.
        explode: true
        in: query
        name: maxResults
        required: true
        schema:
          type: integer
        style: form
      - description: Specifies that no orders entered before this time should be returned.
          Valid ISO-8601 formats are  yyyy-MM-dd and yyyy-MM-dd'T'HH:mm:ssz Date must
          be within 60 days from today's date. 'toEnteredTime' must also be set.
        explode: true
        in: query
        name: fromEnteredTime
        required: true
        schema:
          type: string
        style: form
      - description: Specifies that no orders entered after this time should be returned.Valid
          ISO-8601 formats are :yyyy-MM-dd and yyyy-MM-dd'T'HH:mm:ssz. 'fromEnteredTime'
          must also be set.
        explode: true
        in: query
        name: toEnteredTime
        required: true
        schema:
          format: string
          maximum: 0
          type: string
        style: form
      - description: The maximum number of orders to retrieve.
        explode: true
        in: query
        name: status
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: A Order object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Orders By Path
      tags:
      - Accounts and Trading
    post:
      description: Place an order for a specific account.
      operationId: placeOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Order'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Place Order
      tags:
      - Accounts and Trading
  /orders:
    get:
      description: All orders for a specific account or, if account ID isn't specified,
        orders will be returned for all linked accounts
      operationId: getOrdersByQuery
      parameters:
      - description: Account Number
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: form
      - description: The maximum number of orders to retrieve.
        explode: true
        in: query
        name: maxResults
        required: true
        schema:
          type: integer
        style: form
      - description: Specifies that no orders entered before this time should be returned.
          Valid ISO-8601 formats are  yyyy-MM-dd and yyyy-MM-dd'T'HH:mm:ssz Date must
          be within 60 days from today's date. 'toEnteredTime' must also be set.
        explode: true
        in: query
        name: fromEnteredTime
        required: true
        schema:
          type: string
        style: form
      - description: Specifies that no orders entered after this time should be returned.Valid
          ISO-8601 formats are :yyyy-MM-dd and yyyy-MM-dd'T'HH:mm:ssz. 'fromEnteredTime'
          must also be set.
        explode: true
        in: query
        name: toEnteredTime
        required: true
        schema:
          format: string
          maximum: 0
          type: string
        style: form
      - description: The maximum number of orders to retrieve.
        explode: true
        in: query
        name: status
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: form
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Orders By Query
      tags:
      - Accounts and Trading
  /accounts/{accountId}/savedorders:
    get:
      description: Saved orders for a specific account.
      operationId: getSavedOrdersByPath
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SavedOrder'
                type: array
          description: A Order object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Saved Orders by Path
      tags:
      - Accounts and Trading
    post:
      description: 'Save an order for a specific account. '
      operationId: saveOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedOrder'
        description: The order to save.
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Create Saved Order
      tags:
      - Accounts and Trading
  /accounts/{accountId}/savedorders/{savedOrderId}:
    delete:
      description: Delete a specific saved order for a specific account.
      operationId: deleteSavedOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: savedOrderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Delete Saved Order
      tags:
      - Accounts and Trading
    get:
      description: Specific saved order by its ID, for a specific account.
      operationId: getSavedOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: savedOrderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: A Order object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Saved Order
      tags:
      - Accounts and Trading
    put:
      description: Replace an existing saved order for an account. The existing saved
        order will be replaced by the new order.
      operationId: replaceSavedOrder
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      - description: Order Number
        explode: false
        in: path
        name: savedOrderId
        required: true
        schema:
          format: int64
          maximum: 0
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedOrder'
        description: The order to place.
      responses:
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message if the order was not found.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Replace Saved Order
      tags:
      - Accounts and Trading
  /accounts/{accountId}:
    get:
      description: Account balances, positions, and orders for a specific account.
      operationId: getAccount
      parameters:
      - description: Account Number
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          format: string
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: A Account Object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Account
      tags:
      - Accounts and Trading
  /accounts:
    get:
      description: Account balances, positions, and orders for a specific account.
      operationId: getAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: A Account Object
        "207":
          description: Indicates there was a problem getting account data for one
            or more linked accounts, but the accounts who's data returned successfully
            is in the response. Do not aggregate balances and positions for this case.
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: Get Accounts
      tags:
      - Accounts and Trading
  /oath2/token:
    post:
      description: The token endpoint returns an access token along with an optional
        refresh token.
      operationId: postAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EASObject'
        description: The access token.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EASObject'
          description: A EASObject Object
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: Post Access Token
      tags:
      - Authentication
  /instruments:
    get:
      description: Search or retrieve instrument data, including fundamental data.
      operationId: searchInstruments
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: Value to pass to the search. See projection description for more
          information.
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: "The type of request:symbol-search: Retrieve instrument data\
          \ of a specific symbol or cusip\nsymbol-regex: Retrieve instrument data\
          \ for all symbols matching regex. Example: symbol=XYZ.* will return all\
          \ symbols beginning with XYZ\ndesc-search: Retrieve instrument data for\
          \ instruments whose description contains the word supplied. Example: symbol=FakeCompany\
          \ will return all instruments with FakeCompany in the description.\ndesc-regex:\
          \ Search description with full regex support. Example: symbol=XYZ.[A-C]\
          \ returns all instruments whose descriptions contain a word beginning with\
          \ XYZ followed by a character A through C. \nfundamental: Returns fundamental\
          \ data for a single instrument specified by exact symbol."
        explode: true
        in: query
        name: projection
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      Bond:
                        $ref: '#/components/schemas/Bond'
                  - properties:
                      FundamentalData:
                        $ref: '#/components/schemas/FundamentalData'
                  - properties:
                      FundamentalData:
                        $ref: '#/components/schemas/FundamentalData'
                  - properties:
                      Fundamental:
                        $ref: '#/components/schemas/Fundamental'
                  - properties:
                      Instrument:
                        $ref: '#/components/schemas/Instrument'
                type: array
          description: Instruments List
        "400":
          description: An error message indicating the caller must pass a non null
            value in the parameter.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
        "406":
          description: An error message indicating an issue in the symbol regex, or
            number of symbols searched is over the maximum.
      security:
      - Bearer: []
      summary: Search for instrument and fundamental data
      tags:
      - Instruments
  /instruments/{accountId}:
    get:
      description: Search or retrieve instrument data, including fundamental data.
      operationId: getInstrument
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      Bond:
                        $ref: '#/components/schemas/Bond'
                  - properties:
                      FundamentalData:
                        $ref: '#/components/schemas/FundamentalData'
                  - properties:
                      FundamentalData:
                        $ref: '#/components/schemas/FundamentalData'
                  - properties:
                      Fundamental:
                        $ref: '#/components/schemas/Fundamental'
                  - properties:
                      Instrument:
                        $ref: '#/components/schemas/Instrument'
                type: array
          description: Instruments List
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
      security:
      - Bearer: []
      summary: Search for instrument and fundamental data
      tags:
      - Instruments
  /marketdata/hours:
    get:
      description: Retrieve market hours for specified markets
      operationId: getHours
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: The markets for which you're requesting market hours, comma-separated.
          Valid markets are EQUITY, OPTION, FUTURE, BOND, or FOREX.
        explode: true
        in: query
        name: markets
        required: true
        schema:
          type: string
        style: form
      - description: 'The date for which market hours information is requested. Valid
          ISO-8601 formats are : yyyy-MM-dd and yyyy-MM-dd''T''HH:mm:ssz.'
        explode: true
        in: query
        name: date
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hours'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "404":
          description: Not Found
      security:
      - Bearer: []
      summary: Operating hours of markets
      tags:
      - Market Hours
  /marketdata/{market}/hours:
    get:
      description: Retrieve market hours for specified single market
      operationId: getMarketHours
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: The markets for which you're requesting market hours, comma-separated.
          Valid markets are EQUITY, OPTION, FUTURE, BOND, or FOREX.
        explode: false
        in: path
        name: market
        required: true
        schema:
          type: string
        style: simple
      - description: 'The date for which market hours information is requested. Valid
          ISO-8601 formats are : yyyy-MM-dd and yyyy-MM-dd''T''HH:mm:ssz.'
        explode: true
        in: query
        name: date
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hours'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "404":
          description: Not Found
      security:
      - Bearer: []
      summary: Operating hours of markets
      tags:
      - Market Hours
  /marketdata/{index}/movers:
    get:
      description: Top 10 (up or down) movers by value or percent for a particular
        market
      operationId: getMovers
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: The index symbol to get movers from.
        explode: false
        in: path
        name: index
        required: true
        schema:
          type: string
        style: simple
      - description: To return movers with the specified directions of up or down.
        explode: true
        in: query
        name: direction
        required: true
        schema:
          example: '''up'' or ''down'''
          type: string
        style: form
      - description: To return movers with the specified change types of percent or
          value.
        explode: true
        in: query
        name: change
        required: true
        schema:
          example: '''percent'' or ''value'''
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mover'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - Bearer: []
      summary: Retrieve mover information by index symbol, direction type and change
      tags:
      - Movers
  /marketdata/chains:
    get:
      description: Get option chain for an optionable Symbol
      operationId: getOptionChains
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: Enter one symbol
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: Type of contracts to return in the chain. Can be CALL, PUT, or
          ALL. Default is ALL.
        explode: true
        in: query
        name: contractType
        required: true
        schema:
          $ref: '#/components/schemas/PutOrCall'
        style: form
      - description: The number of strikes to return above and below the at-the-money
          price.
        explode: true
        in: query
        name: strikeCount
        required: true
        schema:
          type: string
        style: form
      - description: Include quotes for options in the option chain. Can be TRUE or
          FALSE. Default is FALSE.
        explode: true
        in: query
        name: includeQuotes
        required: true
        schema:
          example: '''TRUE'' or ''FALSE'''
          type: string
        style: form
      - description: Passing a value returns a Strategy Chain. Possible values are
          SINGLE, ANALYTICAL (allows use of the volatility, underlyingPrice, interestRate,
          and daysToExpiration params to calculate theoretical values), COVERED, VERTICAL,
          CALENDAR, STRANGLE, STRADDLE, BUTTERFLY, CONDOR, DIAGONAL, COLLAR, or ROLL.
          Default is SINGLE.
        explode: true
        in: query
        name: strategy
        required: true
        schema:
          $ref: '#/components/schemas/Strategy'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      OptionChain:
                        $ref: '#/components/schemas/OptionChain'
                  - properties:
                      StrikePriceMap:
                        $ref: '#/components/schemas/StrikePriceMap'
                  - properties:
                      Option:
                        $ref: '#/components/schemas/Option'
                  - properties:
                      Underlying:
                        $ref: '#/components/schemas/Underlying'
                  - properties:
                      ExpirationDate:
                        $ref: '#/components/schemas/ExpirationDate'
                  - properties:
                      OptionDeliverables:
                        $ref: '#/components/schemas/OptionDeliverables'
                type: array
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: An error message indicating internal error in the service.
      security:
      - Bearer: []
      summary: Get Option Chains for optionable symbols
      tags:
      - Option Chains
  /marketdata/{symbol}/pricehistory:
    get:
      description: Get price history for a symbol
      operationId: getPriceHistory
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apikey
        required: true
        schema:
          type: string
        style: form
      - description: Enter one symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: The type of period to show. Valid values are day, month, year,
          or ytd (year to date). Default is day.
        explode: true
        in: query
        name: periodType
        required: true
        schema:
          example: '''day'' or ''month'' or ''year'' or ''ytd'''
          type: string
        style: form
      - description: |-
          The number of periods to show.

          Example: For a 2 day / 1 min chart, the values would be:
          period: 2
          periodType: day
          frequency: 1
          frequencyType: min
          Valid periods by periodType (defaults marked with an asterisk):
          day: 1, 2, 3, 4, 5, 10*
          month: 1*, 2, 3, 6
          year: 1*, 2, 3, 5, 10, 15, 20
          ytd: 1*
        explode: true
        in: query
        name: period
        required: true
        schema:
          type: integer
        style: form
      - description: |
          The type of frequency with which a new candle is formed.

          Valid frequencyTypes by periodType (defaults marked with an asterisk):

          day: minute*
          month: daily, weekly*
          year: daily, weekly, monthly*
          ytd: daily, weekly*
        explode: true
        in: query
        name: frequencyType
        required: true
        schema:
          type: string
        style: form
      - description: |
          The number of the frequencyType to be included in each candle.

          Valid frequencies by frequencyType (defaults marked with an asterisk):

          minute: 1*, 5, 10, 15, 30
          daily: 1*
          weekly: 1*
          monthly: 1*
        explode: true
        in: query
        name: frequency
        required: true
        schema:
          type: integer
        style: form
      - description: End date as milliseconds since epoch. If startDate and endDate
          are provided, period should not be provided. Default is previous trading
          day.
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      - description: Start date as milliseconds since epoch. If startDate and endDate
          are provided, period should not be provided.
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: true to return extended hours data, false for regular market
          hours only. Default is true
        explode: true
        in: query
        name: needExtendedHoursData
        required: true
        schema:
          example: false
          type: boolean
        style: form
      - description: x
        explode: true
        in: query
        name: x
        required: true
        schema:
          example: x
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandleList'
          description: Instruments List
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "500":
          description: Not Found
      security:
      - Bearer: []
      summary: Historical price data for charts
      tags:
      - Price History
  /marketdata/{symbol}/quotes:
    get:
      description: Get quote for a symbol.
      operationId: getQuote
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: API Key
        explode: true
        in: query
        name: apiKey
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      MutualFund:
                        $ref: '#/components/schemas/MutualFund'
                  - properties:
                      FutureOptions:
                        $ref: '#/components/schemas/FutureOptions'
                  - properties:
                      Option:
                        $ref: '#/components/schemas/Option'
                  - properties:
                      Forex:
                        $ref: '#/components/schemas/Forex'
                  - properties:
                      ETF:
                        $ref: '#/components/schemas/ETF'
                  - properties:
                      Equity:
                        $ref: '#/components/schemas/Equity'
                type: array
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
      security:
      - Bearer: []
      summary: Search for instrument and fundamental data
      tags:
      - Quotes
  /marketdata/quotes:
    get:
      description: Get quote for one or more symbols.
      operationId: getQuotes
      parameters:
      - description: API Key
        explode: true
        in: query
        name: apiKey
        required: true
        schema:
          type: string
        style: form
      - description: Symbol to search for
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                  - properties:
                      MutualFund:
                        $ref: '#/components/schemas/MutualFund'
                  - properties:
                      FutureOptions:
                        $ref: '#/components/schemas/FutureOptions'
                  - properties:
                      Option:
                        $ref: '#/components/schemas/Option'
                  - properties:
                      Forex:
                        $ref: '#/components/schemas/Forex'
                  - properties:
                      ETF:
                        $ref: '#/components/schemas/ETF'
                  - properties:
                      Equity:
                        $ref: '#/components/schemas/Equity'
                type: array
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this page.
        "404":
          description: An error message indicating the instrument for the symbol/cusip
            was not found.
        "406":
          description: An error message indicating an issue in the symbol regex, or
            number of symbols searched is over the maximum.
      security:
      - Bearer: []
      summary: Search for instrument and fundamental data
      tags:
      - Quotes
  /accounts/{accountId}/transactions/{transactionId}:
    get:
      description: Transaction for a specific account.
      operationId: getTransaction
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Transaction ID
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller doesn't have access
            to the account in the request.
        "404":
          description: An error message indicating the specified transaction could
            not be found.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access transaction history on the account
      tags:
      - Transaction History
  /accounts/{accountId}/transactions:
    get:
      description: Transactions for a specific account.
      operationId: getTransactions
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Only transactions with the specified type will be returned.
        explode: true
        in: query
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/TransactionType'
        style: form
      - description: Only transactions with the specified symbol will be returned.
        explode: true
        in: query
        name: symbol
        required: true
        schema:
          type: string
        style: form
      - description: 'Only transactions after the Start Date will be returned. Note:
          The maximum date range is one year. Valid ISO-8601 formats are: yyyy-MM-dd.'
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          type: string
        style: form
      - description: 'Only transactions before the End Date will be returned. Note:
          The maximum date range is one year. Valid ISO-8601 formats are: yyyy-MM-dd.'
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Instruments List
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller doesn't have access
            to the account in the request.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access transaction history on the account
      tags:
      - Transaction History
  /accounts/{accountId}/preferences:
    get:
      description: Preferences for a specific account.
      operationId: getPreferences
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
          description: Preferences
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access user-authorized accounts and their preferences
      tags:
      - User Info & Preferences
    put:
      description: Update preferences for a specific account. Please note that the
        directOptionsRouting and directEquityRouting values cannot be modified via
        this operation
      operationId: updatePreferences
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePreferences'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
          description: Preferences
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "403":
          description: An error message indicating the caller is forbidden from accessing
            this resource.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access user-authorized accounts and their preferences
      tags:
      - User Info & Preferences
  /userprincipals/streamersubscriptionkeys:
    get:
      description: SubscriptionKey for provided accounts or default accounts.
      operationId: getStreamerSubscriptionKeys
      parameters:
      - description: Account IDs
        explode: true
        in: query
        name: accountIds
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionKey'
          description: Preferences
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access user-authorized accounts and their preferences
      tags:
      - User Info & Preferences
  /userprincipals:
    get:
      description: User Principal details.
      operationId: getUserPrincipals
      parameters:
      - description: |-
          A comma separated String which allows one to specify additional fields to return. None of these fields are returned by default. Possible values in this String can be: streamerSubscriptionKeys,
          streamerConnectionInfo,
          preferences,
          surrogateIds
        explode: true
        in: query
        name: fields
        required: true
        schema:
          items:
            example: fields=streamerSubscriptionKeys,streamerConnectionInfo
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPrincipal'
          description: Preferences
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
        "503":
          description: An error message indicating there is a temporary problem responding.
      security:
      - Bearer: []
      summary: APIs to access user-authorized accounts and their preferences
      tags:
      - User Info & Preferences
  /accounts/{accountId}/watchlists:
    get:
      description: All watchlists of an account.
      operationId: getWatchlistSingleAccount
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Watchlist'
                type: array
          description: OK
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
    post:
      description: Create watchlist for specific account.This method does not verify
        that the symbol or asset type are valid.
      operationId: createWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWatchlist'
      responses:
        "200":
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
  /accounts/{accountId}/watchlists/{watchlistId}:
    delete:
      description: Delete watchlist for a specific account. This method does not verify
        that the symbol or asset type are valid.
      operationId: deleteWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Watchlist ID
        explode: false
        in: path
        name: watchlistId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "204":
          description: Watchlist deleted.
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
    get:
      description: Specific watchlist for a specific account.
      operationId: getWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Watchlist ID
        explode: false
        in: path
        name: watchlistId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Watchlist'
                type: array
          description: OK
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "404":
          description: An error message indicating the account or the watchlist ID
            does not exist.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
    patch:
      description: 'Partially update watchlist for a specific account: change watchlist
        name, add to the beginning/end of a watchlist, update or delete items in a
        watchlist. This method does not verify that the symbol or asset type are valid.'
      operationId: updateWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Watchlist ID
        explode: false
        in: path
        name: watchlistId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWatchlist'
      responses:
        "200":
          description: OK
        "204":
          description: Watchlist updated.
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
    put:
      description: Replace watchlist for specific account. This method does not verify
        that the symbol or asset type are valid.
      operationId: replaceWatchlist
      parameters:
      - description: Account ID
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Watchlist ID
        explode: false
        in: path
        name: watchlistId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWatchlist'
      responses:
        "200":
          description: OK
        "204":
          description: Watchlist updated.
        "400":
          description: An error message indicating the validation problem with the
            request.
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
  /accounts/watchlists:
    get:
      description: All watchlists for all of the user's linked accounts.
      operationId: getWatchlistMultipleAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Watchlist'
                type: array
          description: OK
        "401":
          description: An error message indicating the caller must pass a valid AuthToken
            in the HTTP authorization request header.
        "500":
          description: An error message indicating there was an unexpected server
            error.
      security:
      - Bearer: []
      summary: APIs to perform CRUD operations on Account Watchlist
      tags:
      - Watchlist
components:
  requestBodies:
    Order:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Order'
      description: The order to place.
  schemas:
    Account:
      example: {}
      properties:
        securitiesAccount:
          $ref: '#/components/schemas/AccountType'
      type: object
    AccountType:
      oneOf:
      - $ref: '#/components/schemas/CashAccount'
      - $ref: '#/components/schemas/MarginAccount'
      type: object
    AssetType:
      enum:
      - EQUITY
      - OPTION
      - FUTURE_OPTION
      - INDICATOR
      - FOREX
      - MUTUAL_FUND
      - INDEX
      - CASH_EQUIVALENT
      - FIXED_INCOME
      - CURRENCY
      - ETF
      - BOND
      - UNKNOWN
      example: '''EQUITY'' or ''OPTION'' or ''INDEX'' or ''MUTUAL_FUND'' or ''CASH_EQUIVALENT''
        or ''FIXED_INCOME'' or ''CURRENCY'''
      type: string
    Bond:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        bondPrice:
          example: 0
          type: number
        cusip:
          example: string
          type: string
        description:
          example: string
          type: string
        exchange:
          example: string
          type: string
        symbol:
          example: string
          type: string
      type: object
    CandleList:
      example:
        symbol: string
        candles:
        - volume: 0
          datetime: 0
          high: 0
          low: 0
          close: 0
          open: 0
        - volume: 0
          datetime: 0
          high: 0
          low: 0
          close: 0
          open: 0
        empty: true
      properties:
        candles:
          items:
            $ref: '#/components/schemas/CandleList_candles'
          type: array
        empty:
          type: boolean
        symbol:
          example: string
          type: string
      type: object
    CashAccount:
      properties:
        accountId:
          example: string
          type: string
        currentBalances:
          $ref: '#/components/schemas/CashAccount_currentBalances'
        initialBalances:
          $ref: '#/components/schemas/CashAccount_initialBalances'
        isClosingOnlyRestricted:
          type: boolean
        isDayTrader:
          type: boolean
        orderStrategies:
          items:
            $ref: '#/components/schemas/CashAccount_orderStrategies'
          type: array
        positions:
          items:
            $ref: '#/components/schemas/CashAccount_positions'
          type: array
        projectedBalances:
          $ref: '#/components/schemas/CashAccount_currentBalances'
        roundTrips:
          example: 0
          type: number
        type:
          example: '''CASH'' or ''MARGIN'''
          type: string
      type: object
    CashEquivalent:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        description:
          example: string
          type: string
        symbol:
          example: string
          type: string
        type:
          example: '''SAVINGS'' or ''MONEY_MARKET_FUND'''
          type: string
      type: object
    ComplexOrderStrategyType:
      enum:
      - NONE
      - COVERED
      - VERTICAL
      - BACK_RATIO
      - CALENDAR
      - DIAGONAL
      - STRADDLE
      - STRANGLE
      - COLLAR_SYNTHETIC
      - BUTTERFLY
      - CONDOR
      - IRON_CONDOR
      - VERTICAL_ROLL
      - COLLAR_WITH_STOCK
      - DOUBLE_DIAGONAL
      - UNBALANCED_BUTTERFLY
      - UNBALANCED_CONDOR
      - UNBALANCED_IRON_CONDOR
      - UNBALANCED_VERTICAL_ROLL
      - CUSTOM
      example: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO'' or ''CALENDAR''
        or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC'' or
        ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL'' or ''COLLAR_WITH_STOCK''
        or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY'' or ''UNBALANCED_CONDOR''
        or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL'' or ''CUSTOM'''
      type: string
    CreateWatchlist:
      example:
        name: string
        watchlistItems:
        - quantity: 0
          purchasedDate: DateParam
          commission: 0
          instrument:
            symbol: string
            assetType: '''EQUITY'' or ''OPTION'' or ''INDEX'' or ''MUTUAL_FUND'' or
              ''CASH_EQUIVALENT'' or ''FIXED_INCOME'' or ''CURRENCY'''
          averagePrice: 0
        - quantity: 0
          purchasedDate: DateParam
          commission: 0
          instrument:
            symbol: string
            assetType: '''EQUITY'' or ''OPTION'' or ''INDEX'' or ''MUTUAL_FUND'' or
              ''CASH_EQUIVALENT'' or ''FIXED_INCOME'' or ''CURRENCY'''
          averagePrice: 0
      properties:
        name:
          example: string
          type: string
        watchlistItems:
          items:
            $ref: '#/components/schemas/CreateWatchlist_watchlistItems'
          type: array
      type: object
    CurrencyType:
      enum:
      - USD
      - CAD
      - EUR
      - JPY
      example: '''USD'' or ''CAD'' or ''EUR'' or ''JPY'''
      type: string
    DestinationExchange:
      enum:
      - INET
      - ECN_ARCA
      - CBOE
      - AMEX
      - PHLX
      - ISE
      - BOX
      - NYSE
      - NASDAQ
      - BATS
      - C2
      - AUTO
      example: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX'' or ''PHLX'' or ''ISE''
        or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS'' or ''C2'' or ''AUTO'''
      type: string
    Duration:
      enum:
      - DAY
      - GOOD_TILL_CANCEL
      - FILL_OR_KILL
      example: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
      type: string
    EASObject:
      example:
        access_token: string
        refresh_token_expires_in: 0
        refresh_token: string
        scope: string
        token_type: string
        expires_in: 0
      properties:
        access_token:
          example: string
          type: string
        expires_in:
          example: 0
          type: number
        refresh_token:
          example: string
          type: string
        refresh_token_expires_in:
          example: 0
          type: number
        scope:
          example: string
          type: string
        token_type:
          example: string
          type: string
      type: object
    ETF:
      properties:
        "52WkHigh":
          example: 0
          type: number
        "52WkLow":
          example: 0
          type: number
        askId:
          example: string
          type: string
        askPrice:
          example: 0
          type: number
        askSize:
          example: 0
          type: number
        bidId:
          example: string
          type: string
        bidPrice:
          example: 0
          type: number
        bidSize:
          example: 0
          type: number
        closePrice:
          example: 0
          type: number
        description:
          example: string
          type: string
        digits:
          example: 0
          type: number
        divAmount:
          example: 0
          type: number
        divDate:
          example: string
          type: string
        divYield:
          example: 0
          type: number
        exchange:
          example: string
          type: string
        exchangeName:
          example: string
          type: string
        highPrice:
          example: 0
          type: number
        lastId:
          example: string
          type: string
        lastPrice:
          example: 0
          type: number
        lastSize:
          example: 0
          type: number
        lowPrice:
          example: 0
          type: number
        marginable:
          type: boolean
        mark:
          example: 0
          type: number
        netChange:
          example: 0
          type: number
        openPrice:
          example: 0
          type: number
        peRatio:
          example: 0
          type: number
        quoteTimeInLong:
          example: 0
          type: number
        regularMarketLastPrice:
          example: 0
          type: number
        regularMarketLastSize:
          example: 0
          type: number
        regularMarketNetChange:
          example: 0
          type: number
        regularMarketTradeTimeInLong:
          example: 0
          type: number
        securityStatus:
          example: string
          type: string
        shortable:
          type: boolean
        symbol:
          example: string
          type: string
        totalVolume:
          example: 0
          type: number
        tradeTimeInLong:
          example: 0
          type: number
        volatility:
          example: 0
          type: number
      type: object
    Equity:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        description:
          example: string
          type: string
        symbol:
          example: string
          type: string
      type: object
    EquityPriceLinkType:
      enum:
      - VALUE
      - PERCENT
      example: '''VALUE'' or ''PERCENT'''
      type: string
    Execution:
      example:
        quantity: 0
        orderRemainingQuantity: 0
        executionType: FILL
        activityType: '''EXECUTION'' or ''ORDER_ACTION'''
        executionLegs:
        - quantity: 0
          price: 0
          legId: 0
          mismarkedQuantity: 0
          time: string
        - quantity: 0
          price: 0
          legId: 0
          mismarkedQuantity: 0
          time: string
      properties:
        activityType:
          example: '''EXECUTION'' or ''ORDER_ACTION'''
          type: string
        executionLegs:
          items:
            $ref: '#/components/schemas/Execution_executionLegs'
          type: array
        executionType:
          example: FILL
          type: string
        orderRemainingQuantity:
          example: 0
          type: number
        quantity:
          example: 0
          type: number
      type: object
    ExpirationDate:
      properties:
        date:
          example: string
          type: string
      type: object
    FixedIncome:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        description:
          example: string
          type: string
        factor:
          example: 0
          type: number
        maturityDate:
          example: string
          type: string
        symbol:
          example: string
          type: string
        variableRate:
          example: 0
          type: number
      type: object
    Forex:
      properties:
        "52WkHighInDouble":
          example: 0
          type: number
        "52WkLowInDouble":
          example: 0
          type: number
        askPriceInDouble:
          example: 0
          type: number
        bidPriceInDouble:
          example: 0
          type: number
        changeInDouble:
          example: 0
          type: number
        closePriceInDouble:
          example: 0
          type: number
        description:
          example: string
          type: string
        digits:
          example: 0
          type: number
        exchange:
          example: string
          type: string
        exchangeName:
          example: string
          type: string
        highPriceInDouble:
          example: 0
          type: number
        isTradable:
          type: boolean
        lastPriceInDouble:
          example: 0
          type: number
        lowPriceInDouble:
          example: 0
          type: number
        mark:
          example: 0
          type: number
        marketMaker:
          example: string
          type: string
        openPriceInDouble:
          example: 0
          type: number
        percentChange:
          example: 0
          type: number
        product:
          example: string
          type: string
        securityStatus:
          example: string
          type: string
        symbol:
          example: string
          type: string
        tick:
          example: 0
          type: number
        tickAmount:
          example: 0
          type: number
        tradingHours:
          example: string
          type: string
      type: object
    Fundamental:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        description:
          example: string
          type: string
        exchange:
          example: string
          type: string
        fundamental:
          $ref: '#/components/schemas/Fundamental_fundamental'
        symbol:
          example: string
          type: string
      type: object
    FundamentalData:
      properties:
        beta:
          example: 0
          type: number
        bookValuePerShare:
          example: 0
          type: number
        currentRatio:
          example: 0
          type: number
        divGrowthRate3Year:
          example: 0
          type: number
        dividendAmount:
          example: 0
          type: number
        dividendDate:
          example: string
          type: string
        dividendPayAmount:
          example: 0
          type: number
        dividendPayDate:
          example: string
          type: string
        dividendYield:
          example: 0
          type: number
        epsChange:
          example: 0
          type: number
        epsChangePercentTTM:
          example: 0
          type: number
        epsChangeYear:
          example: 0
          type: number
        epsTTM:
          example: 0
          type: number
        grossMarginMRQ:
          example: 0
          type: number
        grossMarginTTM:
          example: 0
          type: number
        high52:
          example: 0
          type: number
        interestCoverage:
          example: 0
          type: number
        low52:
          example: 0
          type: number
        ltDebtToEquity:
          example: 0
          type: number
        marketCap:
          example: 0
          type: number
        marketCapFloat:
          example: 0
          type: number
        netProfitMarginMRQ:
          example: 0
          type: number
        netProfitMarginTTM:
          example: 0
          type: number
        operatingMarginMRQ:
          example: 0
          type: number
        operatingMarginTTM:
          example: 0
          type: number
        pbRatio:
          example: 0
          type: number
        pcfRatio:
          example: 0
          type: number
        peRatio:
          example: 0
          type: number
        pegRatio:
          example: 0
          type: number
        prRatio:
          example: 0
          type: number
        quickRatio:
          example: 0
          type: number
        returnOnAssets:
          example: 0
          type: number
        returnOnEquity:
          example: 0
          type: number
        returnOnInvestment:
          example: 0
          type: number
        revChangeIn:
          example: 0
          type: number
        revChangeTTM:
          example: 0
          type: number
        revChangeYear:
          example: 0
          type: number
        sharesOutstanding:
          example: 0
          type: number
        shortIntDayToCover:
          example: 0
          type: number
        shortIntToFloat:
          example: 0
          type: number
        symbol:
          example: string
          type: string
        totalDebtToCapital:
          example: 0
          type: number
        totalDebtToEquity:
          example: 0
          type: number
        vol10DayAvg:
          example: 0
          type: number
        vol1DayAvg:
          example: 0
          type: number
        vol3MonthAvg:
          example: 0
          type: number
      type: object
    Future:
      properties:
        askId:
          example: string
          type: string
        askPriceInDouble:
          example: 0
          type: number
        bidId:
          example: string
          type: string
        bidPriceInDouble:
          example: 0
          type: number
        changeInDouble:
          example: 0
          type: number
        closePriceInDouble:
          example: 0
          type: number
        description:
          example: string
          type: string
        exchange:
          example: string
          type: string
        exchangeName:
          example: string
          type: string
        futureActiveSymbol:
          example: string
          type: string
        futureExpirationDate:
          example: string
          type: string
        futureIsActive:
          type: boolean
        futureIsTradable:
          type: boolean
        futureMultiplier:
          example: 0
          type: number
        futurePercentChange:
          example: 0
          type: number
        futurePriceFormat:
          example: string
          type: string
        futureSettlementPrice:
          example: 0
          type: number
        futureTradingHours:
          example: string
          type: string
        highPriceInDouble:
          example: 0
          type: number
        lastId:
          example: string
          type: string
        lastPriceInDouble:
          example: 0
          type: number
        lowPriceInDouble:
          example: 0
          type: number
        mark:
          example: 0
          type: number
        openInterest:
          example: 0
          type: number
        openPriceInDouble:
          example: 0
          type: number
        product:
          example: string
          type: string
        securityStatus:
          example: string
          type: string
        symbol:
          example: string
          type: string
        tick:
          example: 0
          type: number
        tickAmount:
          example: 0
          type: number
      type: object
    FutureOptions:
      properties:
        askPriceInDouble:
          example: 0
          type: number
        bidPriceInDouble:
          example: 0
          type: number
        closePriceInDouble:
          example: 0
          type: number
        contractType:
          $ref: '#/components/schemas/PutOrCall'
        deltaInDouble:
          example: 0
          type: number
        description:
          example: string
          type: string
        digits:
          example: 0
          type: number
        exchangeName:
          example: string
          type: string
        exerciseType:
          example: string
          type: string
        expirationType:
          example: string
          type: string
        futureExpirationDate:
          example: 0
          type: number
        futureIsActive:
          type: boolean
        futureIsTradable:
          type: boolean
        futurePercentChange:
          example: 0
          type: number
        futureTradingHours:
          example: string
          type: string
        gammaInDouble:
          example: 0
          type: number
        highPriceInDouble:
          example: 0
          type: number
        inTheMoney:
          type: boolean
        lastPriceInDouble:
          example: 0
          type: number
        lowPriceInDouble:
          example: 0
          type: number
        mark:
          example: 0
          type: number
        moneyIntrinsicValueInDouble:
          example: 0
          type: number
        multiplierInDouble:
          example: 0
          type: number
        netChangeInDouble:
          example: 0
          type: number
        openInterest:
          example: 0
          type: number
        openPriceInDouble:
          example: 0
          type: number
        rhoInDouble:
          example: 0
          type: number
        securityStatus:
          example: string
          type: string
        strikePriceInDouble:
          example: 0
          type: number
        symbol:
          example: string
          type: string
        thetaInDouble:
          example: 0
          type: number
        tick:
          example: 0
          type: number
        tickAmount:
          example: 0
          type: number
        timeValueInDouble:
          example: 0
          type: number
        underlying:
          example: string
          type: string
        vegaInDouble:
          example: 0
          type: number
        volatility:
          example: 0
          type: number
      type: object
    Hours:
      example:
        date: string
        product: string
        isOpen: true
        exchange: string
        sessionHours: object
        category: string
        marketType: '''BOND'' or ''EQUITY'' or ''ETF'' or ''FOREX'' or ''FUTURE''
          or ''FUTURE_OPTION'' or ''INDEX'' or ''INDICATOR'' or ''MUTUAL_FUND'' or
          ''OPTION'' or ''UNKNOWN'''
        productName: string
      properties:
        category:
          example: string
          type: string
        date:
          example: string
          type: string
        exchange:
          example: string
          type: string
        isOpen:
          type: boolean
        marketType:
          example: '''BOND'' or ''EQUITY'' or ''ETF'' or ''FOREX'' or ''FUTURE'' or
            ''FUTURE_OPTION'' or ''INDEX'' or ''INDICATOR'' or ''MUTUAL_FUND'' or
            ''OPTION'' or ''UNKNOWN'''
          type: string
        product:
          example: string
          type: string
        productName:
          example: string
          type: string
        sessionHours:
          example: object
          type: string
      type: object
    Index:
      properties:
        "52WkHigh":
          example: 0
          type: number
        "52WkLow":
          example: 0
          type: number
        closePrice:
          example: 0
          type: number
        description:
          example: string
          type: string
        digits:
          example: 0
          type: number
        exchange:
          example: string
          type: string
        exchangeName:
          example: string
          type: string
        highPrice:
          example: 0
          type: number
        lastPrice:
          example: 0
          type: number
        lowPrice:
          example: 0
          type: number
        netChange:
          example: 0
          type: number
        openPrice:
          example: 0
          type: number
        securityStatus:
          example: string
          type: string
        symbol:
          example: string
          type: string
        totalVolume:
          example: 0
          type: number
        tradeTimeInLong:
          example: 0
          type: number
      type: object
    Instruction:
      enum:
      - BUY
      - SELL
      - BUY_TO_COVER
      - BUY_TO_OPEN
      - BUY_TO_CLOSE
      - SELL_TO_OPEN
      - SELL_TO_CLOSE
      - EXCHANGE
      example: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT'' or ''BUY_TO_OPEN''
        or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE'' or ''EXCHANGE'''
      type: string
    Instrument:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        description:
          example: string
          type: string
        exchange:
          example: string
          type: string
        symbol:
          example: string
          type: string
      type: object
    InstrumentType:
      oneOf:
      - $ref: '#/components/schemas/Option'
      - $ref: '#/components/schemas/MutualFund'
      - $ref: '#/components/schemas/CashEquivalent'
      - $ref: '#/components/schemas/Equity'
      - $ref: '#/components/schemas/FixedIncome'
      type: object
    MarginAccount:
      properties:
        accountId:
          example: string
          type: string
        currentBalances:
          $ref: '#/components/schemas/MarginAccount_currentBalances'
        initialBalances:
          $ref: '#/components/schemas/MarginAccount_initialBalances'
        isClosingOnlyRestricted:
          type: boolean
        isDayTrader:
          type: boolean
        orderStrategies:
          items:
            $ref: '#/components/schemas/MarginAccount_orderStrategies'
          type: array
        positions:
          items:
            $ref: '#/components/schemas/CashAccount_positions'
          type: array
        projectedBalances:
          $ref: '#/components/schemas/MarginAccount_currentBalances'
        roundTrips:
          example: 0
          type: number
        type:
          example: '''CASH'' or ''MARGIN'''
          type: string
      type: object
    Mover:
      example:
        totalVolume: 0
        symbol: string
        last: 0
        change: 0
        description: string
        direction: '''up'' or ''down'''
      properties:
        change:
          example: 0
          type: number
        description:
          example: string
          type: string
        direction:
          example: '''up'' or ''down'''
          type: string
        last:
          example: 0
          type: number
        symbol:
          example: string
          type: string
        totalVolume:
          example: 0
          type: number
      type: object
    MutualFund:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        description:
          example: string
          type: string
        symbol:
          example: string
          type: string
        type:
          example: '''NOT_APPLICABLE'' or ''OPEN_END_NON_TAXABLE'' or ''OPEN_END_TAXABLE''
            or ''NO_LOAD_NON_TAXABLE'' or ''NO_LOAD_TAXABLE'''
          type: string
      type: object
    Mutual_Fund:
      properties:
        "52WkHigh":
          example: 0
          type: number
        "52WkLow":
          example: 0
          type: number
        closePrice:
          example: 0
          type: number
        description:
          example: string
          type: string
        digits:
          example: 0
          type: number
        divAmount:
          example: 0
          type: number
        divDate:
          example: string
          type: string
        divYield:
          example: 0
          type: number
        exchange:
          example: string
          type: string
        exchangeName:
          example: string
          type: string
        nAV:
          example: 0
          type: number
        netChange:
          example: 0
          type: number
        peRatio:
          example: 0
          type: number
        securityStatus:
          example: string
          type: string
        symbol:
          example: string
          type: string
        totalVolume:
          example: 0
          type: number
        tradeTimeInLong:
          example: 0
          type: number
      type: object
    Option:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        cusip:
          example: string
          type: string
        description:
          example: string
          type: string
        optionDeliverables:
          items:
            $ref: '#/components/schemas/Option_optionDeliverables'
          type: array
        optionMultiplier:
          example: 0
          type: number
        putCall:
          $ref: '#/components/schemas/PutOrCall'
        symbol:
          example: string
          type: string
        type:
          $ref: '#/components/schemas/OptionType'
        underlyingSymbol:
          example: string
          type: string
      type: object
    OptionChain:
      properties:
        callExpDateMap:
          example: object
          type: string
        daysToExpiration:
          example: 0
          type: number
        interestRate:
          example: 0
          type: number
        interval:
          example: 0
          type: number
        isDelayed:
          type: boolean
        isIndex:
          type: boolean
        putExpDateMap:
          example: object
          type: string
        status:
          $ref: '#/components/schemas/OrderStatus'
        strategy:
          $ref: '#/components/schemas/Strategy'
        symbol:
          example: string
          type: string
        underlying:
          $ref: '#/components/schemas/OptionChain_underlying'
        underlyingPrice:
          example: 0
          type: number
        volatility:
          example: 0
          type: number
      type: object
    OptionDeliverables:
      properties:
        assetType:
          $ref: '#/components/schemas/AssetType'
        currencyType:
          $ref: '#/components/schemas/CurrencyType'
        deliverableUnits:
          example: string
          type: string
        symbol:
          example: string
          type: string
      type: object
    OptionType:
      enum:
      - VANILLA
      - BINARY
      - BARRIER
      example: '''VANILLA'' or ''BINARY'' or ''BARRIER'''
      type: string
    Order:
      example:
        remainingQuantity: 0
        orderType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or ''TRAILING_STOP''
          or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT'' or ''NET_DEBIT''
          or ''NET_CREDIT'' or ''NET_ZERO'''
        orderStrategyType: '''SINGLE'' or ''OCO'' or ''TRIGGER'''
        cancelable: true
        releaseTime: string
        orderId: 0
        session: '''NORMAL'' or ''AM'' or ''PM'' or ''SEAMLESS'''
        stopPriceOffset: 0
        stopPriceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
        orderActivityCollection:
        - quantity: 0
          orderRemainingQuantity: 0
          executionType: FILL
          activityType: '''EXECUTION'' or ''ORDER_ACTION'''
          executionLegs:
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
        - quantity: 0
          orderRemainingQuantity: 0
          executionType: FILL
          activityType: '''EXECUTION'' or ''ORDER_ACTION'''
          executionLegs:
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
          - quantity: 0
            price: 0
            legId: 0
            mismarkedQuantity: 0
            time: string
        filledQuantity: 0
        enteredTime: string
        duration: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
        stopPriceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or
          ''BID'' or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
        destinationLinkName: string
        price: 0
        priceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
        closeTime: string
        tag: string
        childOrderStrategies:
        - remainingQuantity: 0
          orderType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or ''TRAILING_STOP''
            or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT'' or ''NET_DEBIT''
            or ''NET_CREDIT'' or ''NET_ZERO'''
          quantity: 0
          releaseTime: string
          taxLotMethod: '''FIFO'' or ''LIFO'' or ''HIGH_COST'' or ''LOW_COST'' or
            ''AVERAGE_COST'' or ''SPECIFIC_LOT'''
          session: '''NORMAL'' or ''AM'' or ''PM'' or ''SEAMLESS'''
          stopPriceOffset: 0
          stopPriceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          stopType: '''STANDARD'' or ''BID'' or ''ASK'' or ''LAST'' or ''MARK'''
          filledQuantity: 0
          duration: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
          stopPrice: 0
          priceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or ''BID''
            or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          stopPriceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or
            ''BID'' or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          requestedDestination: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX''
            or ''PHLX'' or ''ISE'' or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS''
            or ''C2'' or ''AUTO'''
          cancelTime:
            date: string
            shortFormat: true
          destinationLinkName: string
          price: 0
          priceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          complexOrderStrategyType: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO''
            or ''CALENDAR'' or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC''
            or ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL''
            or ''COLLAR_WITH_STOCK'' or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY''
            or ''UNBALANCED_CONDOR'' or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL''
            or ''CUSTOM'''
        - remainingQuantity: 0
          orderType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or ''TRAILING_STOP''
            or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT'' or ''NET_DEBIT''
            or ''NET_CREDIT'' or ''NET_ZERO'''
          quantity: 0
          releaseTime: string
          taxLotMethod: '''FIFO'' or ''LIFO'' or ''HIGH_COST'' or ''LOW_COST'' or
            ''AVERAGE_COST'' or ''SPECIFIC_LOT'''
          session: '''NORMAL'' or ''AM'' or ''PM'' or ''SEAMLESS'''
          stopPriceOffset: 0
          stopPriceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          stopType: '''STANDARD'' or ''BID'' or ''ASK'' or ''LAST'' or ''MARK'''
          filledQuantity: 0
          duration: '''DAY'' or ''GOOD_TILL_CANCEL'' or ''FILL_OR_KILL'''
          stopPrice: 0
          priceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or ''BID''
            or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          stopPriceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or
            ''BID'' or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
          requestedDestination: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX''
            or ''PHLX'' or ''ISE'' or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS''
            or ''C2'' or ''AUTO'''
          cancelTime:
            date: string
            shortFormat: true
          destinationLinkName: string
          price: 0
          priceLinkType: '''VALUE'' or ''PERCENT'' or ''TICK'''
          complexOrderStrategyType: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO''
            or ''CALENDAR'' or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC''
            or ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL''
            or ''COLLAR_WITH_STOCK'' or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY''
            or ''UNBALANCED_CONDOR'' or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL''
            or ''CUSTOM'''
        orderLegCollection:
        - orderLegType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or
            ''TRAILING_STOP'' or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT''
            or ''NET_DEBIT'' or ''NET_CREDIT'' or ''NET_ZERO'''
          quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
          quantity: 0
          instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
            or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
            or ''EXCHANGE'''
          legId: 0
          positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
        - orderLegType: '''MARKET'' or ''LIMIT'' or ''STOP'' or ''STOP_LIMIT'' or
            ''TRAILING_STOP'' or ''MARKET_ON_CLOSE'' or ''EXERCISE'' or ''TRAILING_STOP_LIMIT''
            or ''NET_DEBIT'' or ''NET_CREDIT'' or ''NET_ZERO'''
          quantityType: '''ALL_SHARES'' or ''DOLLARS'' or ''SHARES'''
          quantity: 0
          instruction: '''BUY'' or ''SELL'' or ''BUY_TO_COVER'' or ''SELL_SHORT''
            or ''BUY_TO_OPEN'' or ''BUY_TO_CLOSE'' or ''SELL_TO_OPEN'' or ''SELL_TO_CLOSE''
            or ''EXCHANGE'''
          legId: 0
          positionEffect: '''OPENING'' or ''CLOSING'' or ''AUTOMATIC'''
        quantity: 0
        taxLotMethod: '''FIFO'' or ''LIFO'' or ''HIGH_COST'' or ''LOW_COST'' or ''AVERAGE_COST''
          or ''SPECIFIC_LOT'''
        specialInstruction: '''ALL_OR_NONE'' or ''DO_NOT_REDUCE'' or ''ALL_OR_NONE_DO_NOT_REDUCE'''
        editable: true
        stopType: '''STANDARD'' or ''BID'' or ''ASK'' or ''LAST'' or ''MARK'''
        accountId: 0
        statusDescription: string
        stopPrice: 0
        priceLinkBasis: '''MANUAL'' or ''BASE'' or ''TRIGGER'' or ''LAST'' or ''BID''
          or ''ASK'' or ''ASK_BID'' or ''MARK'' or ''AVERAGE'''
        requestedDestination: '''INET'' or ''ECN_ARCA'' or ''CBOE'' or ''AMEX'' or
          ''PHLX'' or ''ISE'' or ''BOX'' or ''NYSE'' or ''NASDAQ'' or ''BATS'' or
          ''C2'' or ''AUTO'''
        cancelTime:
          date: string
          shortFormat: true
        activationPrice: 0
        replacingOrderCollection:
        - '{}'
        - '{}'
        complexOrderStrategyType: '''NONE'' or ''COVERED'' or ''VERTICAL'' or ''BACK_RATIO''
          or ''CALENDAR'' or ''DIAGONAL'' or ''STRADDLE'' or ''STRANGLE'' or ''COLLAR_SYNTHETIC''
          or ''BUTTERFLY'' or ''CONDOR'' or ''IRON_CONDOR'' or ''VERTICAL_ROLL'' or
          ''COLLAR_WITH_STOCK'' or ''DOUBLE_DIAGONAL'' or ''UNBALANCED_BUTTERFLY''
          or ''UNBALANCED_CONDOR'' or ''UNBALANCED_IRON_CONDOR'' or ''UNBALANCED_VERTICAL_ROLL''
          or ''CUSTOM'''
        status: '''AWAITING_PARENT_ORDER'' or ''AWAITING_CONDITION'' or ''AWAITING_MANUAL_REVIEW''
          or ''ACCEPTED'' or ''AWAITING_UR_OUT'' or ''PENDING_ACTIVATION'' or ''QUEUED''
          or ''WORKING'' or ''REJECTED'' or ''PENDING_CANCEL'' or ''CANCELED'' or
          ''PENDING_REPLACE'' or ''REPLACED'' or ''FILLED'' or ''EXPIRED'''
      properties:
        accountId:
          example: 0
          type: number
        activationPrice:
          example: 0
          type: number
        cancelTime:
          $ref: '#/components/schemas/CashAccount_cancelTime'
        cancelable:
          type: boolean
        childOrderStrategies:
          items:
            $ref: '#/components/schemas/Order_childOrderStrategies'
          type: array
        closeTime:
          example: string
          type: string
        complexOrderStrategyType:
          $ref: '#/components/schemas/ComplexOrderStrategyType'
        destinationLinkName:
          example: string
          type: string
        duration:
          $ref: '#/components/schemas/Duration'
        editable:
          type: boolean
        enteredTime:
          example: string
          type: string
        filledQuantity:
          example: 0
          type: number
        orderActivityCollection:
          items:
            $ref: '#/components/schemas/Execution'
          type: array
        orderId:
          example: 0
          type: number
[...]
